/* ----- FONTS ----- */

/* Import fonts */


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;1,6..12,400;1,6..12,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Set font variables */
:root {
    --bodyFont: 'Nunito Sans', sans-serif;
    --titleFont: 'Nunito Sans', sans-serif;
}

/* Set font families for elements */
body,
p,
textarea,
span {
  font-family: var(--bodyFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
}

/* ----- COLORS ----- */

/* Set color variables */
:root {
  --main: #020202db;
  --accent: #74acdf;
  --contrast: #e1e1e1;
  --selection: ;
  --dark: #353535;
  --bg-art: url(/img/art/bg.png);
  --discord: #5865f2;
  --patreon: #ff424d;

}

/* Set colors for elements */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8),  rgba(0, 0, 0, 0.9)),
    var(--bg-art);
  background-color: #000;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: "";
  display: block;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  background-image: url(/img/lines.svg);
  background-size: 8px;
  background-position: center center;
  background-repeat: repeat;
    filter: blur(1px)
}



#info {
    background: var(--main);
}
.searchInput {
    background: var(--main);
    color: var(--contrast);
}

.searchButton {
    background: var(--accent);
    color: var(--dark);
}


#search .searchInput:hover,
#search .searchInput:focus-visible {
    background: #000;
}

.searchButton:hover,
.searchButton:focus-visible,
header ul img:hover,
header ul a:focus-visible img {
    filter: brightness(1.2);
}


h1,
h2,
h3,
h4,
h5,
h6, 
p,
span {
    color: var(--contrast);
}

a {
  text-decoration: none;
  color: var(--accent);
}

strong {
    font-weight: 700;
}

mark {
    color: var(--accent);
}


footer {
    color: var(--contrast);
    opacity: 0.8;
}

footer:hover,
foooter:focus-within {
    opacity: 1;
}
